
<br><br>
  
<div class="container">
<table class="table table-bordered" *ngIf="total">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Credits</th>
        <th>Quatity</th>
        <th>Unit Cost</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let card of cartItem;let i=index">

       
     
        <!-- <tr *ngFor="let card of cartItem;let i=index" id="del_{{i}}">  -->
          <tr  id="del_{{i}}">
            <td>{{card.title}}</td>
          
          
          <td  width="300">{{card.content}}</td>
          <td>{{card.price}}</td>

          <td>
            <button class="btn btn-success btn-sm minus" (click)="del(card.id)"><i class="fa fa-minus" aria-hidden="true"  ></i></button> &nbsp;
           
            <button class="btn btn-light btn-sm"><b> {{card.quantity}}</b></button>

            &nbsp; <button class="btn btn-success btn-sm plus" (click)="add(card.id)"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </td>

          <td>{{card.price | currency :'USD'}}</td>
          <td>{{unitptice | currency :'USD'}}</td>
          <td>
            <button class="btn btn-danger btn-sm"  (click)="delpopup(i)">Delete</button>
          </td>
          </tr>
          <tr>
          <td>Grand Total Amount</td>
          <td colspan="6" class="text-right">{{total  | currency :'USD'}}</td>
          
          </tr>
          <td colspan="8" class="text-right">
          <button class="checkout" class="btn btn-success btn-md" (click)="openCheckout(total,i)
          ">Checkout</button>
          </td>
    </tbody>
    
  </table>
  </div>
 
  <br><br>