<!-- 
<button type="button" class="btn btn-info btn-lg" (click)="openModalDialog()">Open Login Modal Dialog!</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

  <div class="modal-dialog" role="document">

    <div class="modal-content">
  
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="logedInForm" (ngSubmit) = "mdfLogin(logedInForm.value)" >
            <div>
                <input type="text" class="textbox" name="emailId" placeholder="Email" formControlName="emailId">
            </div>      
            <div>
                <input type="password" class="textbox" name="password" placeholder="password" formControlName="password">
            </div>
            <div>
                <input type="submit" class="btn btn-info btn-lg" value="LogIn" [disabled] = "!logedInForm.valid">
            </div>
            <div>
                <p>EmailId Is  - {{emailId}} and Password is - {{password}}</p>
            </div>
        </form>
      </div>
    </div> 
  </div>
</div> --> 


<!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="display: none;"> 
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map> -->
    
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="display: none;">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>

 <!-- <div class="modal tournament-venue" style="display:block;" >
 
  <div class="modal-dialog" role="document">
 
    <div class="modal-content"> -->

      <div class="modal-header fadeIn first header-color text-white py-3"><h5 class="modal-title">Tournament Venue</h5>  
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog(false)"><span aria-hidden="true">&times;</span></button>
      </div>



<section class="my-5" id="create-tournament">
<div class="container">
<div class="row">
<div class="col-md-12">

  <button mat-raised-button (click)="DetailisEditable1 = !DetailisEditable1" style="display: none;" >
      {{DetailisEditable1 ? 'Enable edit mode' : 'Disable edit mode'}}  
    </button>


<mat-horizontal-stepper linear #stepper>

<!--Facility Name & Address Dialog box Satrt-->
<mat-step [stepControl]="VenueFormGroup" [editable]="DetailisEditable1" [completed]="false"> 
<form [formGroup]="VenueFormGroup" (ngSubmit)="VenueonSubmit()" class="stepper" class="py-3">
<div class="row">
<ng-template matStepLabel>Facility Name & Address</ng-template>
<div class="col-md-12"><h4>Facility Name & Address</h4></div>

<div class="col-md-6">
<div class="create-tournament-col1 example-container "> 
<mat-form-field>
  <input placeholder="Name" matInput matGoogleMapsAutocomplete [country]="de" formControlName="VenueName" [(ngModel)]="VenueName" (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" required >  
</mat-form-field>
</div>
</div>


<div class="col-md-6">
<div class="create-tournament-col2">
<mat-form-field>
<input matInput placeholder="Abbr*" formControlName="VenueAbbr" [(ngModel)]="VenueAbbr" required>
</mat-form-field>
</div>
</div>


<div class="col-md-12">
<mat-form-field> 
<input matInput placeholder="Street Address" formControlName="VenueAddress" type="text" [(ngModel)]="VenueAddress" required>
</mat-form-field>
</div>

<div class="col-md-3">
<mat-form-field>
<input matInput placeholder="City" formControlName="VenueCity" [(ngModel)]="VenueCity" required>
</mat-form-field>
</div>

<div class="col-md-3">
<mat-form-field>
<input matInput placeholder="State" formControlName="VenueState" [(ngModel)]="VenueState" required>
</mat-form-field>
</div>

<div class="col-md-3"> 
<mat-form-field>
<input matInput placeholder="Postal" [(ngModel)]="VenuePostal" formControlName="VenuePostal" required>
</mat-form-field>
</div>


<div class="col-md-3"> 
  <mat-form-field>
  <input matInput placeholder="country" [(ngModel)]="VenueCountry" formControlName="VenueCountry" required>
  </mat-form-field>
  </div>






<div class="col-md-12" style="text-align: center;">
OR 
</div>

<div class="col-md-12">
<mat-form-field>
<mat-label>
Select Suggested Venue
</mat-label>
<mat-select id="VenueCountry" formControlName="VenueSuggestion" (selectionChange)="VenueSuggestChange($event)"> 
<mat-option [value]="i" *ngFor="let itemss of VenueSuggestionArr;let i=index;"> 
{{ itemss.name+","+itemss.street_address+","+itemss.city+","+itemss.postal }} 
</mat-option> 
</mat-select>
</mat-form-field>
</div> 

<div class="stepper-button">
<button type="submit" mat-raised-button matStepperNext class="btn-color-green" (click)="VenueonSubmit()">Next</button>
</div>

</div>
</form>
</mat-step>
<!--Facility Name & Address Dialog box end -->


















<mat-step [stepControl]="usersForm" [stepControl]="VenueFormGroup" [editable]="DetailisEditable1" [completed]="false">
 
<ng-template matStepLabel>Courts / Fields</ng-template>
<div class="col-md-12">
<div class="mt-4">
<h4>Courts / Fields (Hit the enter key to add more or click Add New -->) 
<button mat-raised-button color="accent" class="float-right" (click)="addAddress()" ><i class="fa fa-plus mr-2" aria-hidden="true" style="color: #fff"></i>Add New</button>
</h4>
</div> 
</div>

<form [formGroup]="usersForm" #addressForm="ngForm" class="container courts-field mt-3" (ngSubmit)="logValue()"> 
<!-- <div class="mt-5" *ngFor="let userFormGroup of usersForm.controls.users.controls; let i = index">    -->
<div class="mt-5" *ngFor="let userFormGroup of formData.controls; let i = index">   
 
  <div class="d-flex" [formGroup]="userFormGroup">  
      <div class="col-md-6">
          <mat-form-field class="custom-field"> 
          <input matInput placeholder="Court/Field Name" formControlName="CourtName" id="courtname_{{i}}" class="custom-field" name="CourtName_{{i}}" (keyup)="CourtChanged($event,i)"  [(ngModel)]="userFormGroup.CourtName">     
          </mat-form-field>
      </div> 
  <div class="col-md-4">
      <mat-form-field class="custom-field">  
      <input matInput placeholder="Abbr. (Short Name)" formControlName="Abbr" name="Abbr_{{i}}" id="courtabbr_{{i}}" (ngModelChange)="AbbrChanged($event,i)"  [(ngModel)]="userFormGroup.Abbr"> 
      </mat-form-field>
  </div>
  <div class="col-md-2">
      <div class="delete-icon py-3">
        <button mat-raised-button color="accent" class="float-right" (click)="removeAddress(i)" ><i class="fa fa-trash" aria-hidden="true" style="color: #fff"></i></button> 
      </div>
  </div>
  </div>
</div>
<div class="stepper-button">
<button mat-raised-button matStepperPrevious class="btn-custom-color">Back</button>
<button type="submit" mat-raised-button matStepperNext class="btn-color-green ml-3" (click)="logValue()">Next</button> 
</div>
</form> 

</mat-step>


<mat-step [stepControl]="VenueDateFormGroup" [editable]="DetailisEditable1" [completed]="false">
  <form [formGroup]="VenueDateFormGroup" #addressForm="ngForm" class="container courts-field mt-3" (ngSubmit)="VenueDateSubmit()"> 
<ng-template matStepLabel>Dates</ng-template>

<div class="col-md-12"><h4 class="mt-4">Venue Dates</h4></div>

<div class="ventue-dates my-5">

      <div class="d-flex">
              <div class="col-md-3">
                      <div class="venue-date">
                      <h5>Date</h5>
                      </div>
                      </div>
                      <div class="col-md-3">
                              <h5>First Game Start*</h5>
                          </div>
                          <div class="col-md-3">
                                  <h5>List Game Start*</h5>
                              </div>
                              <div class="col-md-3">
                                      <h5>No Games?</h5>
                                  </div>
      </div>

<div class="d-flex" *ngFor="let datevalue of VenueDateArr;let idxtime=index;"> 

<!-- 
  <mat-form-field class="example-full-width" style="display:none;">     
    <input matInput placeholder="Name" formControlName="dateval" [(ngModel)]="datevalue.dateval" [value]="datevalue.dateval">    
  <mat-hint align="start"><strong>Example: 8th Grade Boys or Blue Division</strong> </mat-hint>
  </mat-form-field>    
-->  

<div class="col-md-3">
<div class="venue-date">
<!-- <h5>Date</h5> -->
<p class="mt-2">{{datevalue.dateval}}</p>
</div>
</div>

<div class="col-md-3">
<!-- <h5>First Game Start*</h5> -->
<!-- <div class="default-time-example example-full-width"> 
<input aria-label="default time" [ngxTimepicker]="startvenue" [value]="'05:11 pm'" readonly class="inputtime" > 
<ngx-material-timepicker #startvenue></ngx-material-timepicker>
</div> -->

<div class="default-time-example1"> 
  
 <pre class="custom-date-fix py-1"> <span id="StartHour_{{idxtime}}">{{datevalue.timeVenueStart.hour}}</span>:<span id="StartMin_{{idxtime}}">{{datevalue.timeVenueStart.minute}}</span></pre>   
<button mat-icon-button matSuffix (click)="timerfunVenueStart(idxtime)" class="button-custom1">
<mat-icon aria-hidden="false" aria-label="av_timer">av_timer</mat-icon>  
</button> 
<ngb-timepicker class="bottom-99" (ngModelChange)="onChangeVenueStart($event,idxtime,datevalue.timeVenueStart)" id="timerVenueStart_{{idxtime}}" formControlName="timeVenueStart" [(ngModel)]="datevalue.timeVenueStart" style="display:none;"></ngb-timepicker>     

<!--   
   <pre class="custom-date-fix py-1"> {{timeVenueStart.hour}}:{{timeVenueStart.minute}}</pre> 
  <ngb-timepicker class="bottom-99" (ngModelChange)="onChangeVenueStart($event)" *ngIf="timerVenueStart" formControlName="timeVenueStart" [(ngModel)]="timeVenueStart"></ngb-timepicker>  
-->

</div>     
</div>

<div class="col-md-3">
<!-- <h5>List Game Start*</h5> -->
<!-- <div class="default-time-example example-full-width"> 
<input aria-label="default time" [ngxTimepicker]="endvenue" [value]="'05:11 pm'" readonly class="inputtime" > 
<ngx-material-timepicker #endvenue></ngx-material-timepicker>
</div> --> 

<div class="default-time-example2"> 

    
<pre class="custom-date-fix py-1"> <span id="EndHour_{{idxtime}}">{{datevalue.timeVenueEnd.hour}}</span>:<span id="EndMin_{{idxtime}}">{{datevalue.timeVenueEnd.minute}}</span></pre> 
<button mat-icon-button matSuffix (click)="timerfunVenueEnd(idxtime)" class="button-custom2">
<mat-icon aria-hidden="false" aria-label="av_timer">av_timer</mat-icon>  
</button> 
<ngb-timepicker class="bottom-99" (ngModelChange)="onChangeVenueEnd($event,idxtime)" id="timerVenueEnd_{{idxtime}}"  formControlName="timeVenueEnd" [(ngModel)]="datevalue.timeVenueEnd" style="display:none;"></ngb-timepicker>    

<!-- 
  <pre class="custom-date-fix py-1"> {{timeVenueEnd.hour}}:{{timeVenueEnd.minute}}</pre>  
  <ngb-timepicker class="bottom-99" (ngModelChange)="onChangeVenueEnd($event)" *ngIf="timerVenueEnd"  formControlName="timeVenueEnd" [(ngModel)]="timeVenueEnd"></ngb-timepicker> 
-->

</div>  
</div>

<div class="col-md-3">
<!-- <h5>No Games?</h5> -->
<mat-card-content>
<section class="example-section mt-3">
<mat-slide-toggle
class="example-margin"
[color]="color"
[checked]="checked"
[disabled]="disabled" formControlName="ToggleSlide"  [(ngModel)]="datevalue.ToggleSlide" >
Off/On
</mat-slide-toggle>
</section>
</mat-card-content>
</div>

</div>

<div class="col-md-12">
<div class="venue-dates-content pt-5">
<p class="custom-font"><strong>First Game Start:</strong> The time the first game may be able to start.</p>
<p class="custom-font"><strong>Last Game Start:</strong> The last available time a game may start.</p>
<p class="custom-font"><strong>No Games:</strong> Games are not played on this day.</p>
<p class="custom-font pt-2">*First game and last game start times will assist our auto scheduler when building your pool and brackets. The system will estimate available time slots and place games for you, they are fully editable if our estimates are wrong.</p>
</div>
</div>
</div>

<div class="stepper-button">
<button mat-raised-button matStepperPrevious class="btn-custom-color">Back</button>
<button type="submit" mat-raised-button matStepperNext class="btn-color-green ml-3" (click)="VenueDateSubmit()">Next</button>  
</div>
</form>
</mat-step>
<mat-step [stepControl]="otherFormGroup" [editable]="DetailisEditable1" [completed]="false"> 
  <form [formGroup]="otherFormGroup" #addressForm="ngForm" class="container courts-field mt-3" (ngSubmit)="OtherSubmit()"> 
<ng-template matStepLabel>Other Details</ng-template> 
<div class="col-md-12">
<h4 class="my-4">Other Details</h4>
</div>
<div class="d-flex">
<div class="col-md-6">

<div class="venue-notes">  
<p>
<mat-form-field class="example-full-width">
<textarea matInput placeholder="Venue Notes (Parking Instructions)" formControlName="VenueNotes">Optional</textarea>  
</mat-form-field>
</p>
</div>
</div>
<div class="col-md-3">
<div class="venue-type mt-3">
<label id="example-radio-group-label">Venue Type</label>

<mat-radio-group aria-labelledby="example-radio-group-label" formControlName="VenueType"  class="example-radio-group" [(ngModel)]="VenueType"> 
<mat-radio-button class="example-radio-button radio-font" *ngFor="let radio of radios;let idx =index" [value]="radio.venueid">
{{radio.venue}}
</mat-radio-button>
</mat-radio-group>  
</div>

</div>
<div class="col-md-3">
<div class="has-concessions mt-3">
<label id="example-radio-group-label">Has Concessions</label>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group " formControlName="HasConcessions"  [(ngModel)]="HasConcessions">
<mat-radio-button class="example-radio-button d-block radio-font" *ngFor="let radio of radios; let idx=index" [value]="radio.concessionsid">
{{radio.concessions}}
</mat-radio-button>
</mat-radio-group>
</div>
</div>
</div>
<div class="">
<button type="submit" mat-raised-button matStepperNext  class="btn-color-green mt-5 ml-3" (click)="OtherSubmit()" >Finish</button>
</div> 
  <!--  (click)="stepper.reset()" -->
</form>
</mat-step>
</mat-horizontal-stepper>
</div>
</div>
</div>
</section>


<!-- </div>

</div>
 </div>  -->