<div class="container">
  <!-- The Modal -->
    <div  id="schedule">
      <div >
        <div >
          <!-- Modal Header -->
          <div >
            <h4 style="text-align: center;">Scheduling Calendar</h4>
            <button type="button" class="close" >&times;</button>
          </div>
         <div >
           <div >
            <div >
              <div class="row">
                  <div class="col-md-12">
                    <h4 class="text-center text-dark"> {{gettitle}}</h4><hr>
                    <h5 class="pb-2">Schedule</h5>
                    <!-- <p>Winner of M!! vs. Winner of M12 </p> -->
                  </div>
                </div>
            </div>
           </div>
          
          <!-- Modal body -->
          <form class="form-calendar" [formGroup]="startSchedule">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="custom-input">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Matchup Title">
                    </mat-form-field>
                  </div>
                    <div class="custom-input" id='datetimepicker1'>
                     <label class="custom-label" for="inputName">Select Start date & time</label>
                      <ejs-datetimepicker formControlName="dateValue" id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                     
                      <!-- <input type='text' class="form-control" />
                        <span class="input-group-addon" >
                          <i class="fa fa-calendar-o" (click)="showCalendar()"></i>
                        </span> -->
                        <!-- <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" 
                                  a2e-datetimepicker
                                  [(ngModel)]="dateTo"
                                  [options]="a2eOptions"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                          </div> -->
                          
                          <!-- </div> -->
                          <!-- <div class="form-group">
                            <div class="input-group"
                                    a2e-datetimepicker
                                    [(ngModel)]="dateTo"
                                    [options]="a2eOptions"
                                    (onClick)="dateClick()">
                              <input class="form-control"/>
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                            </div> -->
                      </div>
  
                </div>
                <div class="col-md-4">
                  <!-- <div class="custom-input">
                    <mat-form-field class="example-full-width">
                      <select matNativeControl required>
                        <option value="M1">M1</option>
                        <option value="M2">M2</option>
                        <option value="M3">M3</option>
                        <option value="M4">M4</option>
                      </select>
                    </mat-form-field>
                  </div> -->
                  <div class="custom-input">
                    <!-- <mat-form-field class="example-full-width">
                      <select matNativeControl required>
                        <option value="R1">Round 1</option>
                        <option value="R2">Round 2</option>
                        <option value="R3">Round 3</option>
                        <option value="R4">Round 4</option>
                      </select>
                    </mat-form-field> -->
                  </div>
                  <!-- <div class="custom-input">
                    <div class="custom-input">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Length(HH:MM)" value="1:00">
                        </mat-form-field>
                      </div>
                  </div> -->
                </div>
                <div class="col-md-12">
                  <div class="">
                    <mat-form-field>
                      <mat-label>Court</mat-label>
                      <mat-select formControlName="courtname" [(value)]="selected" (change)="setSortOrder($event)" >
                        <mat-option [value]="item.court_name" *ngFor="let item of court">{{item.court_name}}</mat-option>
                   
                      </mat-select>
                    </mat-form-field>
                  </div>
                    <div>
                      <button (click)="save()" mat-raised-button class="btn-custom-color">Save</button>
                    </div>
                </div>
              </div>
            </div>
        
          </form>
        </div>
          
        </div>
      </div>
    </div>
  </div>
