

<app-toolbarpage></app-toolbarpage>
<section class="marketing py-3">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="aside" #external> 
               <h5 class="bg-light p-3">{{date}} {{changetext}}</h5>
              
               

            <mat-card class="example-card mb-3 fc-event" *ngFor="let detail of dateInChunks" 
            data-toggle="modal" data-target="#schedule" >
              <mat-card-content>
                <!-- <p>Courts:&nbsp;{{detail.court}}</p>
                <p>Venue:&nbsp;{{detail.venue}}</p> -->
                <div *ngFor="let value of detail.details">
                   <p>Matchup: {{value.match}}</p>
                   <p>Court: {{value.ground}}</p> 
                   <p>Round: {{value.round}}</p>
                   <hr>
                </div>
                <p>Date:&nbsp;{{detail.date}}</p>
                <hr>
                <div *ngFor="let val of detail.time"> 
                  <p>Start Time:{{val.first_game}}</p>
                  <p>End Time:{{val.last_game}}</p>
                </div>
                <!-- <p>Start time:&nbsp;{{detail.stime}}</p>
                <p>End time:&nbsp;{{detail.etime}}</p>
                <p>MatchUp:&nbsp;{{detail.matchup}}</p> -->
              </mat-card-content>
            </mat-card>
            <div class="next-btn">
              <button (click)="loaddate()" mat-raised-button class="btn-custom-color my-3">Next</button>
            </div>
          </div>
        </div>
         <div class="col-md-9">
           <div class="custom-calendar">
            <full-calendar
            schedulerLicenseKey="0217308380-fcs-1576048266"
            *ngIf="options"
              #fullcalendar
              [editable]="true"
              [events]="evenetdatechunks"
              [defaultDate]="defaultdate"
              
              [header]="options.header"
             [plugins]="options.plugins"
              (dayRender)="dayRender($event,el)"
              (eventClick)="eventClick($event)"
              [columnHeaderHtml]="options.columnHeaderHtml"
            ></full-calendar>
          </div>
         </div>
      </div>
     </div>
</section>

<!-- schedule popup -->
<div class="container">
<!-- The Modal -->
  <div class="modal fade" id="schedule">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title text-center upper-case">Automated Scheduling Calendar</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       <div class="model-inner">
         <div class="form-calendar">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h4 class="text-center text-dark"> Edit Matchup</h4><hr>
                  <h5 class="pb-2">Schedule</h5>
                  <p>Winner of M!! vs. Winner of M12 </p>
                </div>
              </div>
          </div>
         </div>
        
        <!-- Modal body -->
        <form class="form-calendar">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="custom-input">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Matchup Title" value="Example:Championship">
                  </mat-form-field>
                </div>
                  <div class="custom-input" id='datetimepicker1'>
                   <label class="custom-label" for="inputName">Select Start date & time</label>
                    <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datetimepicker>
                   
                 
                    </div>

              </div>
              <div class="col-md-4">
                <div class="custom-input">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Matchup Id " value="M13">
                  </mat-form-field>
                </div>
                <div class="custom-input">
                  <div class="custom-input">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Length(HH:MM)" value="1:00">
                      </mat-form-field>
                    </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="">
                  <mat-form-field>
                    <mat-label>Court</mat-label>
                    <mat-select value="court1">
                      <mat-option value="Courts" *ngFor="let item of items">{{item.court}}</mat-option>
                     
                    </mat-select>
                  </mat-form-field>
                </div>
                  <div class="model-btn">
                    <button mat-raised-button class="btn-custom-color">Save</button>
                  </div>
              </div>
            </div>
          </div>
      
        </form>
      </div>
        
      </div>
    </div>
  </div>
</div>

<!-- Get started -->