.mat-raised-button {
    padding: 0px 46px;
 
 }
 mat-card.example-card {
     cursor: pointer;
 }
 .fc-event, .fc-event-dot {
     background-color: #f9f9f9;
     color: #000!important;
     border: 1px solid #e6e4e4;
 }
 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
   }
   
   .example-full-width {
     width: 100%;
   }
   @media (min-width: 576px){
     .modal-dialog {
         max-width: 648px;
         margin: 1.75rem auto;
     }
     .modal-header {
         background: #002065;
     }
     h4.modal-title {
         width: 100%;
         color: #fff;
     }
     .modal {
         z-index: 11;
     }
     .example-form {
         min-width: 150px;
         max-width: 100%;
         width: 100%;
     }
     mat-form-field.mat-form-field {
         width: 100%;
     }
     .model-inner {
         padding: 50px;
     }
     .custom-input {
         padding: 8px 0;
     }
     /* .fc-license-message {
         z-index: 1!important;
     } */
     label.custom-label {
        font-size: .75rem;
        color: #939191;
        /* margin: 0; */
        margin-bottom: 0;
    }
    section.marketing {
        margin-top: 100px;
    }
 }