<app-toolbarpage></app-toolbarpage>
<section class="pricing-banner mt-5">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="py-5">
        <h4 class="text-white py-5">'Our pricing is expressed in terms of credits. A credit costs $1.50 and represents a single active team in your event. If you have an event with 10 teams then 10 credits ($15) are needed to publish a schedule. Credits can be purchased from your dashboard once your create your account.'</h4>
    </div>
   </div>
</div>
</div>
</section>
<section class="pricing">
  <div class="container">
   
      <div class="text-center pb-5">
        <h2>{{title}}</h2>
      </div>
 
    <div class="row">     
      <div class="col-lg-6" *ngFor="let card of package">
        <div class="card py-3">
          <div class="card-body">
            <h5 class="card_title text-muted text-uppercase text-center">{{card.title}}</h5>
            <h2 class="card_price text-center">{{card.price | currency :'USD'}}<span class="period">/credit</span></h2>
            <hr>
            <p class="card_content">{{card.content}}</p>
          
             <button routerLink="/credits" class="btn btn-block btn-primary text-uppercase">Purchase Now</button>
 
 
          </div>
        </div>
      </div>
     
      
    </div>
  </div>
</section>
<app-footer></app-footer>