<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
  <p>Are you sure want to delete this tourrnament</p>
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Yes</button> 
</div>
