<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first login-header-color text-white py-3">
        <h2>Log in</h2>
      </div>
      <form >
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2"> 
                <div class="example-container pt-5">
                   <mat-form-field>
                      <input type="text" matInput placeholder="Enter User Name">
                    </mat-form-field>
                    <mat-form-field>
                     <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon><img src="assets/img/visibility_off_black.png" *ngIf="hide" />  <img src="assets/img/visibility_black.png"  *ngIf="!hide" /> </mat-icon>
                     </button>
                    </mat-form-field>
                </div>
                <div class="example-button-row pt-3 pb-5">
                  <button mat-raised-button color="accent" routerLink="/Home">Log in</button>
                </div>
            </div>
          </div>
        </div>
      </form>
      <div id="formFooter">
        <button mat-raised-button data-toggle="modal" data-target="#myModal" (click)="showModal()">Forgot Password?</button>
      </div>

    </div>
  </div>


  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header fadeIn first login-header-color text-white py-3"> 
             <h5 class="modal-title">Forget password</h5> 
             <button type="button" class="close" (click)="hideModal()">&times;</button>
          </div> 

         <div class="modal-body">

              <form >
                  <div class="container">
                    <div class="row">

                  <div class="col-md-10 offset-md-1"> 
                    <div class="etc-login-form"> 
                      <p class="forget-p">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                    </div>
                  </div>

                      <div class="col-md-10 offset-md-1"> 

                          <div class="example-container pt-1">
                             <mat-form-field>
                                <input type="text" matInput placeholder="Enter User Name">
                              </mat-form-field>
                          </div> 
                          <div class="example-button-row pt-3 pb-5">
                            <button mat-raised-button color="accent" class="forget-submit" routerLink="/Home">Submit</button>
                          </div>

                      </div>

                      <div class="col-md-10 offset-md-1">
                          <div class="etc-login-form">
                            <p class="forget-p">already have an account? <a  routerLink="/Home" class="forget-a">login here</a>  </p> 

                            <p class="forget-p">new user? <a  routerLink="/signup" class="forget-a">create new account</a></p>


                            </div>
                      </div>


                    </div>
                  </div>
                </form>
          </div>  

          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>

        </div>
      </div>
    </div>



 -->


 <div id='calendar'></div>

 
<style>
  html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }
  </style>

