.alert{
  background-color: #FFF !important;
  border: none;
  font-size: 15px !important;
}
section.pricing-banner{
    background:url(src/assets/img/pricing-banner1.jpg);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    position: relative;
}
/* section.pricing-banner::before{
    content:'';
    position: absolute;
    background:#000;
    width: 100%;
    top:0;
    left: 0;
    height: 239px;
} */
section.pricing {
    background: #007bff;
    /* background: linear-gradient(to right, #0062E6, #33AEFF); */
    /* background: linear-gradient(10deg, #fdcd3b 60%, #ffed4b 60%); */
    background: linear-gradient(10deg, #e9e9e6 60%, #f3f3f373 60%);
    padding: 70px 0;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing card_price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing card_price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  .card_price{
      font-weight: 700;
  }
  span.period {
    font-size: 20px;
}
  /* Hover Effects on Card */
  .col-lg-4:nth-child(3) .card_price span.period {
    border: 1px solid red;
    display: none;
}
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
